
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>

<head>
    <title>Saint Louis Sites</title>
    <link href="~/css/site.css" type="text/css" rel="stylesheet">
</head>


<body>
    <div>
        <ul>
            <li class="active"><a href="/home/index">Home</a></li>
            <li><a href="#stlsites">St. Louis Sites</a></li>
            <li><a href="/Location/Create">Add Location</a></li>
            <li><a href="/Location/Index">Location List</a></li>
            <li style="float:right"><a href="#about">About</a></li>
        </ul>



    </div>


    <div class="text-center">
        <h1 class="center">Saint Louis Activities and Attractions</h1>
        <main class="center">

            <h3>The best place to get all the local information regarding Saint Louis and it's attractions. </h3>
            <h3>You are able to check out local sites, read reviews and look at pictures from other users. </h3>
            <h3>You can also leave reviews, add pictures and rate all the local places. </h3>


        </main>
    </div>
</body>